DB_HOST=db
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

REDIS_ADDR=

API_PORT=

API_URL=

SALT=
TOKEN_TTL_DAYS=

TMP_DIR="./tmp"

TELEGRAM_DEBUG=0  # 1 - вкл иначе выкл
TELEGRAM_TOKEN=
BOT_SERVICE_TOKEN=