DB_HOST=db
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=tododb
DB_SSLMODE=disable

MIGRATIONS_DIR=./internal/infrastructure/db/migrations

REDIS_PORT=6379
REDIS_ADDR=redis:6379
REDIS_DB=0

API_HOST=api
API_PORT=8080

SECRET=
TOKEN_TTL=168h

TMP_DIR="./tmp" # директория для временных файлов

TELEGRAM_DEBUG=1  # 1 - вкл иначе выкл
TELEGRAM_TOKEN=
BOT_SERVICE_TOKEN=