// Конфиги бд
DB_HOST=db
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DSN=postgres://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(DB_NAME)?sslmode=disable
MIGRATIONS_DIR=./internal/infrastructure/db/migrations

// Редис
REDIS_ADDR=

// Урл сервера АПИ
API_PORT=
API_URL=

// Для токенов
SALT= // соль для хеширования токенов
TOKEN_TTL_DAYS= // время жизни токена в днях

TMP_DIR="./tmp" // директория для временных файлов

// Конфиги бота
TELEGRAM_DEBUG=0  # 1 - вкл иначе выкл
TELEGRAM_TOKEN=
BOT_SERVICE_TOKEN=