// Очень скупо
/bin
/vendor
/vendor.pb
/vendor.protogen
.DS_STORE
.DS_Store
/.idea
/.vscode
------


tmp/*

.DS_Store
.42c/*
.vscode/*
.vsdb/*

.env



----

TODO:

1. Изучаем Make

GNU Make (Makefile) https://www.gnu.org/software/make/
Нужен мейкфайл с таргетами
- с установкой dev зависимостей
- прогоном миграций
- прогоном тестов
- запуском линтеров
- возможно шоткаты для запуска окружения через docker-compose

https://habr.com/ru/articles/748162/

- подключаем линтер golangci-lint к проекту
    - команда make deps должна устанавливать все бинарные зависимости в /bin
    - у всех зависимостей должны быть зафиксированы версии в переменных, тег или хеш коммита
    - должна быть команда make lint которая запускает прогон лантера с текущей кофигураций
    - команда make lint устанавливает бинарные зависимости, если они не установлены
    - если установлена бинарная зависимость другой версии, то устанавливается бинарная зависимость нужной версии


2. Изучаем возможности компиляции GO

- изучить флаги компиляции GO
- изучить билд теги и как ими пользоваться
- скомпилировать GO под другую архитектуру/ОС
    - имплиментировать пакет в 2х версиях под разные платформы amd64/ x86 например
    - поведение пакета должно отличаться в зависимости от архитектуры
    - сбилдить 2 разных докер контейнера с разной архитектурой (разный базовый образ)
    - убедиться что поведение бинарника в разных контейнерах отличается

- изучить семантическое версионирование (если не знаком) https://semver.org/lang/ru/
    - сделать мейк таргет, который будет собирать версию приложения и прокидвать в бинарник тег из гита и хеш коммита в переменные APP_VERSION и APP_COMMIT_HASH

3. Подключаем юнит тесты

- нужен мейк таргет make test который запускает выполнение юнит тестов на всем проекте
- покрываем 1 из пакетов тестами на 80+%, учимся снимать кавередж
    - учимся снимать кавередж репорт средствами go из консоли
    - учимся это делать в IDE
    - пишем табличный тест
    - изучаем как работает под капотом t.Parallel (статья из гугл дока)
    - пишем бенчмарк на функцию, снимаем профили средствами Go/IDE
    - учимся сравнивать два прогона бенчмарка через benchstat

4. Настроен ли отладчик delv?


