/bin
/vendor
/vendor.pb
/vendor.protogen
.DS_STORE
.DS_Store
/.idea
/.vscode

tmp/*

.42c/*
.vsdb/*

.env

3. Подключаем юнит тесты

- нужен мейк таргет make test который запускает выполнение юнит тестов на всем проекте
- покрываем 1 из пакетов тестами на 80+%, учимся снимать кавередж
    - учимся снимать кавередж репорт средствами go из консоли
    - учимся это делать в IDE
    - пишем табличный тест
    - изучаем как работает под капотом t.Parallel (статья из гугл дока)
    - пишем бенчмарк на функцию, снимаем профили средствами Go/IDE
    - учимся сравнивать два прогона бенчмарка через benchstat

4. Настроен ли отладчик delv?


